﻿
@{
    ViewBag.Title = "BackOffice";
}

@section scripts{
    <script src="~/Scripts/BackOffice.js"></script>
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="row">
    <div class="col">
        <table class="table table-hover" id="oddsTable">
            <thead>
                <tr>
                    <th>Details</th>
                    <th>Match Id</th>
                    <th>Match</th>
                    <th>1</th>
                    <th>X</th>
                    <th>2</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody class="oddsTableHeader" data-bind="foreach: Odds">
                <tr>
                    <td>
                        <button type="button" class="btn btn-default btn-xs" data-bind="click: getOddToUpdate"> 
                            <span class="glyphicon glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                        </button> 
                    </td>
                    <td data-bind="text: $data.MatchId"></td>
                    <td data-bind="text: $data.Match"></td>
                    <td data-bind="text: $data.HomeWin"></td>
                    <td data-bind="text: $data.Draw"></td>
                    <td data-bind="text: $data.AwayWin"></td>
                    <td>
                        <button type="button" class="btn btn-danger btn-xs" data-bind="click: deleteOdd">
                            <span class="glyphicon glyphicon glyphicon-trash"></span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col">
        <button type="button" class="btn btn-danger" onclick="$('#addOddModal').modal('show');">ADD NEW</button>
        <button type="button" class="btn btn-default" onclick="Helpers.callActionByAjax('@(Url.Action("Publish", "Home"))')">PUBLISH</button>
    </div>
</div>

<!-- Add Modal -->
<div class="modal fade" id="addOddModal" tabindex="-1" role="dialog" aria-labelledby="addOddModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add New Odd</h4>
            </div>
            <form>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="MatchId">Match Id</label>
                        <input type="text" id="MatchId" class="form-control" data-bind="value: MatchId, valueUpdate: 'afterkeydown'"/>
                    </div>
                    <div class="form-group">
                        <label for="HomeWin">Home Win</label>
                        <input type="text" id="HomeWin" class="form-control" data-bind="value: HomeWin, valueUpdate: 'afterkeydown'"/>
                    </div>
                    <div class="form-group">
                        <label for="Draw">Draw</label>
                        <input type="text" id="Draw" class="form-control" data-bind="value: Draw, valueUpdate: 'afterkeydown'"/>
                    </div>
                    <div class="form-group">
                        <label for="AwayWin">Away Win</label>
                        <input type="text" id="AwayWin" class="form-control" data-bind="value: AwayWin, valueUpdate: 'afterkeydown'"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-bind="click: addOdd" >Add Odd</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Update Modal -->
<div class="modal fade" id="updateOddModal" tabindex="-1" role="dialog" aria-labelledby="updateOddModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Update Odd For Match</h4>
            </div>
            <form>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="MatchId">Match Id</label>
                        <input type="text" id="MatchId" class="form-control" data-bind="value: MatchId" readonly/>
                    </div>
                    <div class="form-group">
                        <label for="HomeWin">Home Win</label>
                        <input type="text" id="HomeWin" class="form-control" data-bind="value: HomeWin, valueUpdate: 'afterkeydown'" />
                    </div>
                    <div class="form-group">
                        <label for="Draw">Draw</label>
                        <input type="text" id="Draw" class="form-control" data-bind="value: Draw, valueUpdate: 'afterkeydown'" />
                    </div>
                    <div class="form-group">
                        <label for="AwayWin">Away Win</label>
                        <input type="text" id="AwayWin" class="form-control" data-bind="value: AwayWin, valueUpdate: 'afterkeydown'" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-bind="click: updateOdd">Update Odds</button>
                </div>
            </form>
        </div>
    </div>
</div>