﻿@{
    ViewBag.Title = "Home Page";
}

@section scripts{
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="~/signalr/js"></script>
    <script src="~/Scripts/RealTimeHub.js"></script>
}

<div class="jumbotron">
    <h1>OddestOdds</h1>
    <p class="lead">OddestOdds is the leading 1x2 odds provider in the world! The below odds are updated on the fly in real-time, so sit back and relax and don't bother refreshing the page!</p>
</div>

<div class="row">
    <div class="col">
        <h2>Latest Odds</h2>
        <table class="table table-hover" id="oddsTable">
            <thead>
                <tr>
                    <th>Match</th>
                    <th>1</th>
                    <th>X</th>
                    <th>2</th>
                </tr>
            </thead>
            <tbody class="oddsTableHeader" data-bind="foreach: Odds">
                <tr>
                    <td data-bind="text: $data.Match"></td>
                    <td data-bind="text: $data.HomeWin"></td>
                    <td data-bind="text: $data.Draw"></td>
                    <td data-bind="text: $data.AwayWin"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>